body {
    background: #f60000;
}

label, h1, h4 {
    color: white;
}

#logo {
    margin-top: 5px;
}

button {
    margin: 10px;
}

#container {
    position: relative;
}
#copyright {
    position: absolute;
    bottom: 0;
}
